<ng-form name="editSongForm"
  ng-submit="">

  <div class="text-center">
    <h2>{{'global.song.edit'|translate}}</h2>
  </div>

  <div layout="column"
    flex="50">

    <!-- TITULO -->
    <md-input-container>
      <label>{{'global.name' | translate}}</label>
      <input name="title"
        aa-label="{{'global.name' | translate}}"
        aa-label-strategy="emptyStrategy"
        aa-field-group="song.title"
        autocomplete="off"
        ng-required=true>
    </md-input-container>

    <!-- ARTISTA -->
    <md-input-container>
      <label>{{'global.artist' | translate}}</label>
      <input name="artist"
        aa-label="{{'global.artist' | translate}}"
        aa-label-strategy="emptyStrategy"
        aa-field-group="song.artist"
        autocomplete="off">
    </md-input-container>

  </div>

  <div layout="row"
    flex=100
    layout-align="center center">
    <md-button class="md-raised">
      << tono</md-button>
        <md-button
        class="md-raised">tono >>
    </md-button>
  </div>

  <div layout="row"
    flex="100">

    <!-- CODIGO CHORPRO -->
    <div flex=50>
      <md-input-container class="md-block">
        <label>{{'global.chordpro.code' | translate}}</label>
        <textarea ng-model="song.chordpro"
          ng-change="showChordProParsedSong()"></textarea>
      </md-input-container>
    </div>

    <!-- VISTA PREVIA -->
    <div flex="50">
      <div layout="column"
        ng-show="!(chordproSongHtml | isEmpty)">

        <div layout="row">
          <div flex=25
            ng-if="newKey">

            <md-input-container>
              <label>Nota</label>
              <md-select ng-model="newKey.note.letter"
                placeholder="Select a state" ng-change="transpose()">
                <md-option ng-value="item.id"
                  ng-repeat="item in 'musicNotes'|bgValue">{{item.name}}</md-option>
              </md-select>
            </md-input-container>

          </div>

        </div>

        <div flex=100>
          <label>{{'global.preview' | translate}}</label>
          <h4 id="chordelement"></h4>
        </div>

      </div>
    </div>

  </div>
</ng-form>