.md-errors-spacer {
  display: none;
}

/*****INPUT CONTAINER*****/

md-input-container {
  margin-bottom: 0px;

  &.disabled {
    label {
      color: $muted;

      &::after {
        color: $muted;
      }
    }
  }

  label {
    color: $main-color;

    &::after {
      color: $red;
    }
  }

  &:not(.md-input-invalid).md-input-has-value label {
    color: $main-color;
  }

  &.aa-invalid-attempt label {
    color: $red;
  }

  &.mail-container {
    min-width: 50%;
  }
}

/********* INPUT *********/

input {
  border-color: $input-border;

  &:focus {
    border-color: $main-color;
    border-width: 0 0 1px 0 !important;
  }

  &.aa-invalid-attempt:not(.ng-valid):not([disabled]) {
    border-color: $red;
  }
}

/********* RADIO *********/

md-radio-button {

  .md-on {
    background-color: $main-color;
  }

  &.md-checked {

    .md-off {
      border-color: $main-color;
    }

    .md-ink-ripple {
      color: $main-color-transparent;
    }

  }
}

md-radio-group.md-focused {
  .md-checked {
    .md-container:before {
      background-color: $main-color-transparent !important;
    }
  }
}

/********* SELECT *********/

md-select {
  margin: 0px !important;

  .md-select-value {
    color: $main-color;
    border-color: $input-border;

    span:not(.md-select-icon)::after {
      color: $red;
    }
  }

  &:focus .md-select-value {
    border-color: $main-color !important;
    border-width: 0 0 1px 0 !important;
  }

  &[disabled] .md-select-value {
    color: $muted !important;

    span:not(.md-select-icon)::after {
      color: $muted;
    }
  }
}

md-select-menu {
  background-color: $white;

  md-content {
    md-option {
      &[selected] {
        color: $main-color;
        background-color: $item-hover;
      }

      &:hover {
        background-color: $item-hover;
      }
    }
  }
}

/********* DROPDOWN *********/

.sidenav-adviser {
  margin-top: 70px;
}

.sidenav-document {
  margin-top: 75px;
}

.sidenav-item {
  border-style: solid;
  border-color: $main-color;
  border-width: 0px 1px 1px 0px;

  &:hover {
    background-color: $item-hover;
    cursor: pointer;
  }

  &.active {
    background-color: $main-color;
    color: $white;
  }
}

/**********TEXT AREA**********/

textarea {
  border-color: $input-border;

  &:focus {
    border-color: $main-color !important;
    border-width: 0 0 1px 0 !important;
  }
}

/********* SWITCH ***********/

md-checkbox {
  .md-icon {
    border-color: rgb(15, 65, 152);
  }
  &.md-checked{
    .md-icon{
      background-color: rgb(15, 65, 152);
    }
    .md-icon:after{
      border-color: white;
    }
  }
}